$secondary-small: #aaabab;
$secondary-drak: #272727;
$action-button: #f94819;
$color-blue: #0000ff;


.fliter-section{
    padding: 0px 60px;
}

.mail-fliter .ant-form-item-label {
    width: 100px;
}
.w-300{
    width: 300px;
}
.card-section{
    padding: 0px 40px;
}
.card-section .ant-card{
    margin: 0px 10px;
    height: fit-content;
}