.header {
    position: "sticky";
    top: 0;
    z-index: 1;
    width: 1;
}
.logo {
    display: flex;
    justify-content: start;
}

.nav-bar {
    padding: 10px 60px;
}

.menu-hr {
    border-bottom: 0px !important;
}
.ant-menu-item {
    color: #8d8d8d !important;
    font-weight: bold;
}
.ant-menu-item:hover {
    color: #000000 !important;
    font-weight: bold;
}

body * {
    font-family: sans-serif;
}
.nav-button {
    background-color: #15112e;
    border-radius: 0px;
}
